<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="css/styleCadastro.css">
    <link rel="stylesheet" href="css/stylePrincipal.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/cavalo2.png" alt="Cavalo Airplane Logo">
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="#">Comprar passagem</a></li>
                <li><a href="#">Check-in</a></li>
                <li><a href="#">Minhas viagens</a></li>
                <li><a href="#" id="accountButton">Criar ou Acessar Conta  <i class="fas fa-user-circle"></i></a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <form id="formCadastro">
            <h2>Informações Pessoais</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" placeholder="Informe seu CPF" required>
                </div>
                <div class="form-group">
                    <label for="first-name"> Nome:</label>
                    <input type="text" id="nome" name="nome" placeholder="Informe o primeiro nome" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="dob">Data de Nascimento:</label>
                    <input type="date" id="dataNascimento" name="dataNascimento" required>
                </div>
                <div class="form-group">
                    <label for="gender">Gênero:</label>
                    <select id="genero" name="genero" required>
                        <option value="">Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outro</option>
                    </select>
                </div>
            </div>

            <h2>Informações de Acesso</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Informe seu email" required>
                </div>
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input type="login" id="login" name="login" placeholder="Login" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="senha" name="senha" placeholder="Escolha uma senha" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirmar Senha:</label>
                    <input type="password" id="confirma-senha" name="confirma-senha" placeholder="Confirme sua senha" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="document-number">Número de Documento:</label>
                    <input type="text" id="document-number" name="numeroDocumento" placeholder="Informe o número do documento" required>
                </div>
                <div class="form-group">
                    <label for="phone-number">Número de Telefone:</label>
                    <input type="text" id="phone-number" name="telefone" placeholder="Informe o número de telefone" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="document-type">Tipo de Documento:</label>
                    <select id="document-type" name="tipoDocumento" required>
                        <option value="">Selecione</option>
                        <option value="identidade">Identidade</option>
                        <option value="cnh">CNH</option>
                        <option value="passaporte">Passaporte</option>
                        <option value="carteira-trabalho">Carteira de Trabalho</option>
                        <option value="reservista">Reservista</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="cep">CEP:</label>
                    <input type="text" id="cep" name="cep" placeholder="Informe o CEP" required>
                </div>
            </div>

            <h2>Informações de Cadastro</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="promo-code">Código Promocional (Opcional):</label>
                    <input type="text" id="promo-code" name="promoCode" placeholder="Digite aqui">
                </div>
            </div>

            <button type="submit">Cadastrar</button>
        </form>
        <div id="mensagem"></div>
    </div>

    <!-- Modal -->
    <div id="accountModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="closeModal">&times;</span>
            <h2 class="modal-header">Acesse sua conta Arline</h2>
            <ul class="modal-list">
                <li><i class="fas fa-check"></i> Administre suas viagens com mais facilidade</li>
                <li><i class="fas fa-check"></i> Cadastre programas de fidelidade</li>
                <li><i class="fas fa-check"></i> Agilize suas compras de passagens</li>
            </ul>
            <div class="modal-actions">
                <button class="modal-btn login-btn">Acessar conta</button>
                <button class="modal-btn create-account-btn">Criar conta</button>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script src="js/modal.js"></script>
</body>
</html>
