<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/teste.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
</head>
<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <img src="images/cavalo2.png" alt="">
                <h2>Cavalo Airlines</h2>
            </div>
            <div class="user">
                <div>
                    
                </div>
                <div><img src="images/perfil-de-usuario.png" alt=""></div>
            </div>
        </div>
        <div class="sidebar">
            <ul id="sidebar">
                <li>
                    <a href="index">
                        <i class="fas fa-th-large"></i>
                        <div>Inicio</div>
                    </a>
                </li>
                <li>
                    <a href="aeronave">
                        <i class="fas fa-plane-departure"></i>
                        <div>Aeronaves</div>
                    </a>
                </li>

                <li>
                    <a href="voo">
                        <i><img src="images/roter.png" onload="this.classList.remove('hidden')"></i>
                        <div>Voos</div>
                    </a>
                </li>

                <li>
                    <a href="planejamento">
                        <i> <img src="images/planeja.png" onload="this.classList.remove('hidden')"> </i>
                        <div>Planejamento</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="crud">
                <div class="cabecalho">
                    <span>Rastreamento de Voos</span>
                    <div class="item">
                        <form action="">
                            <input type="text" id="flightInput" placeholder="Insira o código IATA do voo">
                            <select id="statusFilter">
                                <option value="">Todos os Status</option>
                                <option value="scheduled">Programado</option>
                                <option value="active">Ativo</option>
                                <option value="landed">Pousado</option>
                                <option value="cancelled">Cancelado</option>
                                <option value="incident">Incidente</option>
                            </select>
                            <button id="trackButton">Rastrear Voo</button>
                        </form>
                    </div>
                </div>
                <div class="container2">
                    <div class="item" id="results">
                    </div>
                    <div class="item" id="map">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="js/teste.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="js/script.js"></script>
</body>