<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main>
        <div class="login">
            <h2>Bem vindo!</h2>
            <form action="#" method="post">
                <input class="user" type="text" id="email" name="email" placeholder="E-mail" required>
                <input class="senha" type="password" id="senha" name="senha" placeholder="Senha" required>
                <input class="botao" type="submit" value="Login">
            </form>
            <div class="Sign">
                <a class="recumperar" href="#">Esqueceu a sua senha?</a>
                <p>Você não tem uma conta?</p>
                <a href="cadastro.html"><button class="botao">Sign Up</button></a>
            </div>
        </div>
    </main>
</body>
</html>