<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
	<link rel="stylesheet" href="css/styleLogin.css">
    <link rel="stylesheet" href="css/stylePrincipal.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="images/cavalo2.png" alt="Cavalo Airplane Logo">
        </div>
        <nav>
            <ul class="navbar">
                <li><a href="#">Comprar passagem</a></li>
                <li><a href="#">Check-in</a></li>
                <li><a href="#">Minhas viagens</a></li>
                <li><a href="#" id="accountButton">Criar ou Acessar Conta  <i class="fas fa-user-circle"></i></a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <form action="/usuario/login" method="POST">
            <h2>Login</h2>

            <div class="form-row">
                <div class="form-group">
                    <label for="login">Login:</label>
                    <input type="text" id="login" name="login" placeholder="Informe seu login" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Informe sua senha" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group-check">
                    <input type="checkbox" id="manter-conectado" name="manterConectado">
                    <label for="manter-conectado">Manter conectado</label>
                </div>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>

    <!-- Modal -->
    <div id="accountModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="closeModal">&times;</span>
            <h2 class="modal-header">Acesse sua conta Arline</h2>
            <ul class="modal-list">
                <li><i class="fas fa-check"></i> Administre suas viagens com mais facilidade</li>
                <li><i class="fas fa-check"></i> Cadastre programas de fidelidade</li>
                <li><i class="fas fa-check"></i> Agilize suas compras de passagens</li>
            </ul>
            <div class="modal-actions">
                <button class="modal-btn login-btn">Acessar conta</button>
                <button class="modal-btn create-account-btn">Criar conta</button>
            </div>
        </div>
    </div>

    <script src="js/modal.js"></script>
</body>
</html>
