body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2f017a, #006fcf, #00bed3);
    margin: 0;
    padding: 0;
    
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(18, 48, 148, 0.1);
    background-color: #e3f3fc;
    border-radius: 12px;
    margin-top: 50px;
    box-sizing: border-box; /* Garante que o padding e a largura sejam calculados corretamente */

}

.left-image {
    width: 40%; /* Largura do lado esquerdo */
    background-image: url('sua-imagem.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0.5; /* Transparência de 50% */
}

h2 {
    color: #2e5c9a;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    width: 48%;
    flex: 1 1 calc(50% - 10px); /* Garante que cada coluna ocupe metade da largura disponível com espaço entre elas */
    min-width: 200px; /* Define uma largura mínima para evitar inputs muito pequenos em telas menores */

}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box; /* Inclui o padding na largura do input */


}

button {
    width: 100%;
    padding: 15px;
    background-color: #0a3266;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

button:hover {
    background-color: #1e3d6d;
}

 .modalCadastro {
    display: none; /* Inicialmente escondido */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */

   /* Centraliza o conteúdo do modal */
   display: none;
   align-items: center;
   justify-content: center;
}

/* Estilos específicos para o modal de cadastro */
.modal-content-cadastro {
   background: linear-gradient(135deg, #006fcf, #00f2fe); /* Gradiente azul */
   border-radius: 20px;
   padding: 20px;
   border: none;
   width: 80%;
   max-width: 400px;
   text-align: center;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
   font-family: Arial, sans-serif;
   font-weight: bold;
   font-size: 18px;
   color: aliceblue;
}

/* Botão de fechar */
.close {
   color: #fff;
   float: right;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
   margin-top: -10px;
   margin-right: -10px;
}

.close:hover {
   color: #000;
}